{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2,
        "singleQuote": true,
        "arrowParens": "avoid",
        "printWidth": 120
      }
    },
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4,
        "singleAttributePerLine": false,
        "embeddedLanguageFormatting": "off",
        "printWidth": 100
      }
    }
  ]
}